# Ignore thought_process.txt file
# This file contains a log of all my ideas, challenges, solutions, and workarounds.
# It serves as a personal record of the project's development process and is not necessary for the codebase.
thought_process.txt


# Ignore keys.env file
# This is the file that stores api keys
keys.env

# Ignore the data folder
# This folder stores large datasets that can't be uploaded to github
data/

# Track a specific file within the ignored folder
!data/clean_weather_data.csv

# Ignore .DS_STORE file
.DS_STORE

# Ignore pycache folders
__pycache__/

# Ignore state_data folder contains all state json data
state_data/

